@charset "utf-8";

@font-face {
    font-family:'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.eot');
	src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Light.woff2') format('woff2'),
		url('../fonts/Gilroy-Light.woff') format('woff'),
		url('../fonts/Gilroy-Light.ttf') format('truetype'),
		url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('truetype'),
		url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.eot');
	src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
		url('../fonts/Gilroy-Heavy.woff') format('woff'),
		url('../fonts/Gilroy-Heavy.ttf') format('truetype'),
		url('../fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff'),
		url('../fonts/Gilroy-Medium.ttf') format('truetype'),
		url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Tahoma-Bold';
    src: url('../fonts/Tahoma-Bold.eot');
	src: url('../fonts/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma-Bold.woff2') format('woff2'),
		url('../fonts/Tahoma-Bold.woff') format('woff'),
		url('../fonts/Tahoma-Bold.ttf') format('truetype'),
		url('../fonts/Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04E9;
}

@font-face {
    font-family:'Tahoma-Regular';
    src: url('../fonts/Tahoma-Regular.eot');
	src: url('../fonts/Tahoma-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma-Regular.woff2') format('woff2'),
		url('../fonts/Tahoma-Regular.woff') format('woff'),
		url('../fonts/Tahoma-Regular.ttf') format('truetype'),
		url('../fonts/Tahoma-Regular.svg#Tahoma-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04E9;
}

html,
body {
	position: relative;
}
body {
	min-width: 1188px;
	text-align: left;
	font-family: 'Tahoma-Regular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
	color: #0d0d10;
	font-size: 15px;
	line-height: 22px;
}
a{
	text-decoration: none;
	color: #8176a9;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1140px;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{
	display: inline-block;
	padding: 20px 42px 18px 42px;
	font-size: 20px;
	line-height: 22px;
	color: #FFF;
	border-radius: 100px;
	text-align: center;
	background-color: #ff8a00;
	-webkit-box-shadow: 0 25px 35px rgba(255, 138, 0, 0.2);
	-moz-box-shadow: 0 25px 35px rgba(255, 138, 0, 0.2);
	box-shadow: 0 25px 35px rgba(255, 138, 0, 0.2);
	-webkit-transition: transform 100ms ease-out;
    -moz-transition: transform 100ms ease-out;
    -ms-transition: transform 100ms ease-out;
    -o-transition: transform 100ms ease-out;
    transition: transform 100ms ease-out;
}
	.b-btn p{
		display: inline-block;
	}
	.b-btn .main{
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: 'Gilroy-Heavy';
	}
	.b-btn .small{
		font-size: 16px;
		line-height: 22px;
	}

	.b-btn:hover{
		background-color: #5e4abb;
		-webkit-box-shadow: 0 25px 35px rgba(94, 74, 187, 0.25);
		-moz-box-shadow: 0 25px 35px rgba(94, 74, 187, 0.25);
		box-shadow: 0 25px 35px rgba(94, 74, 187, 0.25);
	}
	.b-btn:active{
		background-color: #4c3b9e;
		-webkit-box-shadow: 0 25px 35px rgba(76, 59, 158, 0.25);
		-moz-box-shadow: 0 25px 35px rgba(76, 59, 158, 0.25);
		box-shadow: 0 25px 35px rgba(76, 59, 158, 0.25);
		-webkit-transform: translateY(10px);
	    -moz-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	    -o-transform: translateY(10px);
	    transform: translateY(10px);
	}

.orange{
	color: #ff8a00;
}

h1.b-title{

}

h2.b-title{
	color: #0d0d10;
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 52px;
	line-height: 62px;
	padding-top: 74px;
	margin-bottom: 56px;
	letter-spacing: 1px;
}

h3{
	color: #0d0d10;
	font-family: 'Gilroy-Bold';
	font-size: 30px;
	line-height: 40px;
}

h4{
	color: #0d0d10;
	font-family: 'Gilroy-Medium';
	font-size: 20px;
	line-height: 30px;
}

b{
	font-weight: normal;
	font-family: 'Tahoma-Bold';
}

.b-center{
	text-align: center;
}

.orange-triangle{
	position: absolute;
    top: -12px;
    left: -22px;
    border: 6px solid transparent;
    border-right: 6px solid #ff8a00;
    border-bottom: 6px solid #ff8a00;
}

/*----------------------*/

.b-header{
	color: #FFF;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../i/header-back.jpg);
    background-size: cover;
}
	.b-header-top{
		padding-top: 40px;
		margin-bottom: 75px;
		font-size: 12px;
		line-height: 18px;
	}
		.b-header-top-item{
			float: left;
		}
		.b-header-top-item:first-child{
			margin-right: 255px;
		}
		.b-header-top-item:last-child{
			float: right;
			padding-right: 37px;
		}
		.b-header-top-item > div,
		.b-header-top-item > p{
			vertical-align: top;
			display: inline-block;
		}
			.b-header-top-logo{
				display: inline-block;
				width: 104px;
				height: 40px;
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/logo.png);
			    background-size: 104px;
				margin-right: 22px;
			}

			.b-header-icon-cont{
				color: #FFF;
			}

				.b-header-icon{
					width: 34px;
					height: 34px;
					background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: 34px;
					margin-right: 12px;
					opacity: 0.25;
					-webkit-transition: opacity 50ms ease-out;
				    -moz-transition: opacity 50ms ease-out;
				    -ms-transition: opacity 50ms ease-out;
				    -o-transition: opacity 50ms ease-out;
				    transition: opacity 50ms ease-out;
				}
				.b-header-top-course{
				    background-image: url(../i/flag.svg);
				}
				.b-header-top-more{
				    background-image: url(../i/academ.svg);
				}

				.b-header-icon-cont:hover .b-header-icon{
					opacity: 1;
				}
				.b-header-icon-cont:hover p{
					text-decoration: underline;
				}

.b-header-content{

}
	.b-header-content-left{
		padding-top: 25px;
		display: inline-block;
		width: 462px;
	}
		.b-header-content-item{
			position: relative;
		}
			.b-header-content-item img{
				position: absolute;
				display: inline-block;
			}
			.b-header-content-item p{
				width: 185px;
				margin-left: 100px;
				margin-bottom: 62px;
				display: inline-block;
			}
			.b-header-content-item .img-mac{
				top: 0;
				left: -37px;
			}
			.b-header-content-item .img-money{
				top: -7px;
				left: -9px;
			}
			.b-header-content-item .img-tag{
				top: -20px;
				left: -15px;
			}

	.b-header-content-right{
		vertical-align: top;
		display: inline-block;
		width: 668px;
		font-family: 'Gilroy-Light';
	}
	.b-header-content-right b{
		font-family: 'Gilroy-Bold';
	}
		.b-header-content-question{
			font-size: 50px;
			line-height: 62px;
			margin-bottom: 27px;
		}
		.b-header-content-answer{
			position: relative;
			margin-left: 54px;
		}
			.b-header-content-answer .orange-triangle{

			}
			.b-header-content-answer p{
				font-size: 30px;
				line-height: 40px;
			}

		.b-header-book-it{
			position: relative;
			width: 572px;
			padding-top: 33px;
			padding-bottom: 133px;
		}
			.last-time{
				position: absolute;
				top: -10px;
				right: 0;
			}
				.last-time img{
					padding-top: 10px;
					margin-right: 3px;
					display: inline-block;
				}
				.last-time-text{
					display: inline-block;
					vertical-align: top;
				}
				.last-time-text p b{
					font-size: 30px;
					line-height: 40px;
				}

			.syrgai-header{
				position: absolute;
				bottom: 0;
				right: 127px;
			}

.b-price{overflow: hidden;}
	.b-price-list{
		margin-bottom: 50px;
	}
		.b-price-item{
			position: relative;
			float: left;
			width: 22.5%;
			margin-left: 42px;
		}
		.b-price-item:last-child{
		    width: 19%;
			margin-left: 25px;	
		}
			.b-price-item .orange-triangle{
				position: absolute;
			}
				.b-price-item p{

				}

	.b-price-offer{
		margin-bottom: 74px;
	}
		.b-price-offer-block{
			position: relative;
			float: left;
			width: 25%;
		}
			.b-price-offer-triangle{
				height: 20px;
				width: 100%;
				background-color: transparent;
			}
			.b-price-offer-triangle span{
				float: left;
				display: inline-block;
				height: 100%;
			}
				.left-block{
					width: 54px;
					background-color: #FFF;
				}
				.triangle-block{
					position: relative;
					width: 40px;
				}
					.triangle-block:before{
						content: " ";
						position: absolute;
						bottom: 0;
						left: 0;
						border: 10px solid transparent;
						border-bottom: 10px solid #FFF;
						border-left: 10px solid #FFF;
					}
					.triangle-block:after{
						content: " ";
						position: absolute;
						bottom: 0;
						right: 0;
						border: 10px solid transparent;
						border-right: 10px solid #FFF;
						border-bottom: 10px solid #FFF;
					}
				.right-block{
					width: calc(100% - 94px);
					background-color: #FFF;
				}
			.b-price-offer-content{
				width: 100%;
				background-color: #FFF;
				-webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
				box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
				padding: 0 0 45px 0;
			}
			.b-price-offer-block:nth-child(1){
				z-index: 4;
			}
			.b-price-offer-block:nth-child(2){
				z-index: 3;
			}
			.b-price-offer-block:nth-child(3){
				z-index: 2;
			}

				.b-price-offer-list{
					padding: 8px 30px 0 75px;
					margin-bottom: 50px;
				}
					.offer-description{
						font-size: 12px;
						line-height: 18px;
						color: #b2b2b3;
						margin-bottom: 25px;
					}
					.b-price-offer-item{
						position: relative;
						margin-bottom: 24px;
					}
					.b-price-offer-item:first-of-type{
/* 						margin-bottom: 5px; */
					}
						.offer-img-cont{
							width: 50px;
						    position: absolute;
						    top: 2px;
						    left: -63px;
						}
							.offer-img-cont .img{
								float: right;
								background-position: top right;
							    background-repeat: no-repeat;
							    background-size: contain;
							}

							.img-book .img{
								background-image: url('../i/book.png');
								width: 63px;
								height: 57px;
							}
							.img-cards .img{
								background-image: url('../i/cards.png');
								width: 57px;
    							height: 46px;
							}
							.img-certificate .img{
								background-image: url('../i/certificate.png');
								width: 36px;
    							height: 45px;
							}
							.img-video .img{
								background-image: url('../i/video.png');
								width: 41px;
								height: 41px;
							}
							.img-iPhone .img{
								background-image: url('../i/iPhone.png');
								width: 39px;
								height: 56px;
							}
							.img-macbook .img{
								background-image: url('../i/macbook-price.png');
								width: 59px;
								height: 52px;
							}
							.img-syrgai .img{
								background-image: url('../i/syrgai-price.png');
								width: 36px;
								height: 55px;
							}
							.img-training .img{
								background-image: url('../i/training.png');
								width: 53px;
								height: 43px;
							}
							.img-skype .img{
								background-image: url('../i/skype.png');
								width: 34px;
								height: 34px;
							}
							.img-graphic .img{
								background-image: url('../i/graphic.png');
								width: 50px;
								height: 49px;
							}
							.img-lock .img{
								background-image: url('../i/lock.png');
								width: 34px;
								height: 47px;
							}
							.offer-img-cont.img-book{
								left: -48px;
							}
							.offer-img-cont.img-training{
								top: 11px;
							}
							.offer-img-cont.img-graphic{
								top: 8px;
								left: -58px;
							}
							.offer-img-cont.img-macbook{
								left: -59px;
							}

						.b-price-offer-item p{
							font-size: 12px;
							line-height: 18px;
						}
				.b-price .all-modules{
					display: inline-block;
					font-size: 12px;
					line-height: 18px;
					text-decoration: underline;
				}
				.b-price .all-modules:hover{
					text-decoration: none;
				}

			.cource-price{
				font-size: 25px;
				line-height: 35px;
				font-family: 'Gilroy-Bold';
			}		
				.old-price{
					position: relative;
					display: inline-block;
					margin-bottom: 8px;
				}
					.old-price .cross-out{
					    width: 99px;
					    height: 12px;
					    position: absolute;
					    top: 15px;
					    left: -4px;
					    background-position: top right;
					    background-repeat: no-repeat;
					    background-image: url('../i/cross-out.png');
					    background-size: contain;
					}
					.old-price p{
						font-size: 25px;
						line-height: 35px;
						font-family: 'Gilroy-Medium';
					}
					.b-price-offer-block:nth-child(2) .old-price .cross-out,
					.b-price-offer-block:nth-child(3) .old-price .cross-out,
					.b-price-offer-block:nth-child(4) .old-price .cross-out{
						left: 0px;
						width: 100%;
					}
				.new-price{
					font-size: 40px;
					line-height: 40px;
					font-family: 'Gilroy-Bold';
					margin-bottom: 30px;
				}

			.b-price-offer-content .b-btn{
				width: 240px;
				padding: 13px 0;
			}
				.b-price-offer-content .b-btn .main{
					font-size: 18px;
					line-height: 18px;
				}
				.b-price-offer-content .b-btn .small{
					font-size: 14px;
					line-height: 16px;
				}
				.offer-description.next-increase{
					margin-bottom: 18px;
				}

	.places-left{
		text-align: center;
		margin-top: 35px;
		font-size: 12px;
		line-height: 18px;
		color: #b2b2b3;
	}
		.places-left-count{
			display: inline-block;
			color: #FFF;
			width: 20px;
			height: 20px;
			border-radius: 10px;
			background-color: #5e4abb;
		}

	.b-price-offer-right{
		position: absolute;
		right: 0;
		bottom: 54px;
		width: 144px;
    	height: 628px;
		background-color: #5e4abb;
	}
		.b-price-offer-horizontal{
			position: absolute;
			top: 0;
			left: -144px;
			width: 448px;
			height: 140px;
			background-color: #5e4abb;
		}

.b-footer{
	color: #b2b2b3;
}
	.b-footer-top{	
	    padding-bottom: 40px;
	    font-size: 12px;
	    line-height: 18px;
	    border-bottom: 1px solid #f7f7f7;
	}
		.b-footer-top-item{
			vertical-align: top;
			display: inline-block;
		}
		.b-footer-top-item:first-child{
			margin-right: 336px;
		}
		.b-footer-top-item:last-child{
			float: right;
		}
			.b-footer-logo {
				display: inline-block;
			    width: 104px;
			    height: 40px;
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/logo-footer.png);
			    background-size: 104px;
			    margin-right: 22px;
			}
			.b-footer-top-item > div, .b-footer-top-item > p {
			    vertical-align: top;
			    display: inline-block;
			}
			.b-footer-phone{
				padding-top: 10px;
			}
				.b-footer-phone .phone{
					display: inline-block;
					vertical-align: top;
					margin-top: 3px;
				    width: 16px;
				    height: 16px;
				    margin-right: 7px;
				    background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-image: url(../i/icon-phone.png);
				    background-size: 16px;
				}
				.b-footer-phone a{
					display: inline-block;
				    vertical-align: top;
				    font-family: 'Gilroy-Medium';
				    color: #0d0d10;
				    font-size: 20px;
				    line-height: 22px;
				    letter-spacing: 0.5px;
				}

	.b-footer-bottom{
		padding: 35px 0;
		font-size: 14px;
		line-height: 18px;
	}

	.b-footer .politics{
		display: inline-block;
		font-size: 14px;
		padding-top: 10px;
		color: #b2b2b3;
		text-decoration: underline;
		display: none;
	}
	.b-footer .politics:hover{
		text-decoration: none;
	}


/*----------------------*/


@media (-webkit-min-device-pixel-ratio: 1.5) {
	.img-book .img{
		background-image: url('../i/book@2x.png');
	}
	.img-cards .img{
		background-image: url('../i/cards@2x.png');
	}
	.img-certificate .img{
		background-image: url('../i/certificate@2x.png');
	}
	.img-video .img{
		background-image: url('../i/video@2x.png');
	}
	.img-iPhone .img{
		background-image: url('../i/iPhone@2x.png');
	}
	.img-macbook .img{
		background-image: url('../i/macbook-price@2x.png');
	}
	.img-syrgai .img{
		background-image: url('../i/syrgai-price@2x.png');
	}
	.img-training .img{
		background-image: url('../i/training@2x.png');
	}
	.img-skype .img{
		background-image: url('../i/skype@2x.png');
	}
	.img-graphic .img{
		background-image: url('../i/graphic@2x.png');
	}
	.img-lock .img{
		background-image: url('../i/lock@2x.png');
	}
	.old-price .cross-out{
	    background-image: url('../i/cross-out@2x.png');
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}