@charset "utf-8";

@font-face {
    font-family:'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.eot');
	src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Light.woff2') format('woff2'),
		url('../fonts/Gilroy-Light.woff') format('woff'),
		url('../fonts/Gilroy-Light.ttf') format('truetype'),
		url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy-Regular.ttf') format('truetype'),
		url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('truetype'),
		url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.eot');
	src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
		url('../fonts/Gilroy-Heavy.woff') format('woff'),
		url('../fonts/Gilroy-Heavy.ttf') format('truetype'),
		url('../fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff'),
		url('../fonts/Gilroy-Medium.ttf') format('truetype'),
		url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'PlayfairDisplay-Italic';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
	src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Tahoma-Bold';
    src: url('../fonts/Tahoma-Bold.eot');
	src: url('../fonts/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma-Bold.woff2') format('woff2'),
		url('../fonts/Tahoma-Bold.woff') format('woff'),
		url('../fonts/Tahoma-Bold.ttf') format('truetype'),
		url('../fonts/Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04E9;
}

@font-face {
    font-family:'Tahoma-Regular';
    src: url('../fonts/Tahoma-Regular.eot');
	src: url('../fonts/Tahoma-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma-Regular.woff2') format('woff2'),
		url('../fonts/Tahoma-Regular.woff') format('woff'),
		url('../fonts/Tahoma-Regular.ttf') format('truetype'),
		url('../fonts/Tahoma-Regular.svg#Tahoma-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04E9;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a0gcac');
  src:  url('../fonts/icomoon.eot?a0gcac#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a0gcac') format('truetype'),
    url('../fonts/icomoon.woff?a0gcac') format('woff'),
    url('../fonts/icomoon.svg?a0gcac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1188px;
	text-align: left;
	font-family: 'Tahoma-Regular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
	color: #0d0d10;
	font-size: 15px;
	line-height: 22px;
}
a{
	text-decoration: none;
	color: #8176a9;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1140px;
	text-align: center;
	margin: 0px auto;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mouse:before {
  content: "\e901";
}
.icon-monitor:before {
  content: "\e902";
}
.icon-man:before {
  content: "\e903";
}
.icon-flag:before {
  content: "\e904";
}
.icon-check-list:before {
  content: "\e905";
}
.icon-audio:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e907";
}
.icon-algorythm:before {
  content: "\e908";
}
.icon-ruble:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-left-big:before {
  content: "\e90b";
}
.icon-icommas:before {
  content: "\e90c";
}
.icon-vk:before {
  content: "\e90d";
}
.icon-arrow-right-big:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.b-btn{
	display: inline-block;
	padding: 20px 42px 18px 42px;
	font-size: 20px;
	line-height: 22px;
	color: #FFF;
	border-radius: 100px;
	text-align: center;
	background-color: #ff8a00;
	-webkit-box-shadow: 0 25px 35px rgba(255, 138, 0, 0.2);
	-moz-box-shadow: 0 25px 35px rgba(255, 138, 0, 0.2);
	box-shadow: 0 25px 35px rgba(255, 138, 0, 0.2);
    -webkit-transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
       -moz-transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
        -ms-transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
       	 -o-transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
    		transition: background-color 100ms ease-out, box-shadow 100ms ease-out, transform 100ms ease-out;
}
	.b-btn p{
		display: inline-block;
	}
	.b-btn .main{
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: 'Gilroy-Heavy';
	}
	.b-btn .small{
		font-size: 16px;
		line-height: 22px;
	}

	.b-btn:hover{
		background-color: #5e4abb;
		-webkit-box-shadow: 0 25px 35px rgba(94, 74, 187, 0.25);
		-moz-box-shadow: 0 25px 35px rgba(94, 74, 187, 0.25);
		box-shadow: 0 25px 35px rgba(94, 74, 187, 0.25);
	}
	.b-btn:active{
		background-color: #4c3b9e;
		-webkit-box-shadow: 0 25px 35px rgba(76, 59, 158, 0.25);
		-moz-box-shadow: 0 25px 35px rgba(76, 59, 158, 0.25);
		box-shadow: 0 25px 35px rgba(76, 59, 158, 0.25);
		-webkit-transform: translateY(10px);
	    -moz-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	    -o-transform: translateY(10px);
	    transform: translateY(10px);
	}

.orange{
	color: #ff8a00;
}

h1.b-title{

}

h2.b-title-roman{
	color: #0d0d10;
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 52px;
	line-height: 62px;
	padding-top: 74px;
	margin-bottom: 56px;
	letter-spacing: 1px;
}

h3{
	color: #0d0d10;
	font-family: 'Gilroy-Bold';
	font-size: 30px;
	line-height: 40px;
}

h4{
	color: #0d0d10;
	font-family: 'Gilroy-Medium';
	font-size: 20px;
	line-height: 30px;
}

b{
	font-weight: normal;
	font-family: 'Tahoma-Bold';
}

.b-center{
	text-align: center;
}

.orange-triangle{
	position: absolute;
    top: -12px;
    left: -22px;
    border: 6px solid transparent;
    border-right: 6px solid #ff8a00;
    border-bottom: 6px solid #ff8a00;
}

/*----------------------*/

.b-header{
	color: #FFF;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../i/header-back.jpg);
    background-size: cover;
}
	.b-header-top{
		padding-top: 40px;
		margin-bottom: 75px;
		font-size: 12px;
		line-height: 18px;
		text-align: left;
	}
		.b-header-top-item{
			float: left;
		}
		.b-header-top-item:first-child{
			margin-right: 255px;
		}
		.b-header-top-item:last-child{
			float: right;
			padding-right: 37px;
		}
		.b-header-top-item > div,
		.b-header-top-item > p{
			vertical-align: top;
			display: inline-block;
		}
			.b-header-top-logo{
				display: inline-block;
				width: 104px;
				height: 40px;
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/logo.png);
			    background-size: 104px;
				margin-right: 22px;
			}

			.b-header-icon-cont{
				color: #FFF;
			}

				.b-header-icon{
					width: 34px;
					height: 34px;
					background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: 34px;
					margin-right: 12px;
					opacity: 0.25;
					-webkit-transition: opacity 50ms ease-out;
				    -moz-transition: opacity 50ms ease-out;
				    -ms-transition: opacity 50ms ease-out;
				    -o-transition: opacity 50ms ease-out;
				    transition: opacity 50ms ease-out;
				}
				.b-header-top-course{
				    background-image: url(../i/flag.svg);
				}
				.b-header-top-more{
				    background-image: url(../i/academ.svg);
				}

				.b-header-icon-cont:hover .b-header-icon{
					opacity: 1;
				}
				.b-header-icon-cont:hover p{
					text-decoration: underline;
				}

.b-header-content{text-align: left;}
	.b-header-content-left{
		padding-top: 25px;
		display: inline-block;
		width: 462px;
	}
		.b-header-content-item{
			position: relative;
		}
			.b-header-content-item img{
				position: absolute;
				display: inline-block;
			}
			.b-header-content-item p{
				width: 185px;
				margin-left: 100px;
				margin-bottom: 62px;
				display: inline-block;
			}
			.b-header-content-item .img-mac{
				top: 0;
				left: -37px;
			}
			.b-header-content-item .img-money{
				top: -7px;
				left: -9px;
			}
			.b-header-content-item .img-tag{
				top: -20px;
				left: -15px;
			}

	.b-header-content-right{
		vertical-align: top;
		display: inline-block;
		width: 668px;
		font-family: 'Gilroy-Light';
	}
	.b-header-content-right b{
		font-family: 'Gilroy-Bold';
	}
		.b-header-content-question{
			font-size: 50px;
			line-height: 62px;
			margin-bottom: 27px;
		}
		.b-header-content-answer{
			position: relative;
			margin-left: 54px;
		}
			.b-header-content-answer .orange-triangle{

			}
			.b-header-content-answer p{
				font-size: 30px;
				line-height: 40px;
			}

		.b-header-book-it{
			position: relative;
			width: 572px;
			padding-top: 33px;
			padding-bottom: 133px;
		}
			.last-time{
				position: absolute;
				top: -10px;
				right: 0;
			}
				.last-time img{
					padding-top: 10px;
					margin-right: 3px;
					display: inline-block;
				}
				.last-time-text{
					display: inline-block;
					vertical-align: top;
				}
				.last-time-text p b{
					font-size: 30px;
					line-height: 40px;
				}

			.syrgai-header{
				position: absolute;
				bottom: 0;
				right: 127px;
			}
b{
	font-family: "Gilroy-Bold";
	font-weight: normal;
}
h2.b-title{
	font-family: "Gilroy-Regular";
	font-size: 50px;
	line-height: 62px;
	max-width: 960px;
	display: inline-block;
	letter-spacing: 1px;
}
h2.b-title b{
	font-size: 55px;
}
h3.b-title{
	font-family: "Gilroy-Regular";
	line-height: 35px;
	letter-spacing: 0.5px;
}
h5.b-small{
	font-family: "Gilroy-Regular";
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0.5px;
	max-width: 640px;
	display: inline-block;
}
.b-purple-link{
	display: inline-block;
	font-size: 15px;
	font-family: "Tahoma-Bold";
	line-height: 22px;
	color: #8e84b5;
	position: relative;
	letter-spacing: 0.32px;
	border-bottom: 1px solid rgba(142, 132, 181, 0.3);
}
	.b-purple-link:before{
		position: absolute;
		right: -22px;
		opacity: 0.3;
		font-size: 16px;
		top: 6px;
	}
	.b-purple-link:hover{
		color: #ff8a00;
		border-bottom: 1px solid rgba(255,138,0, 0.3);
	}
		.b-purple-link:hover:before{
			opacity: 1;		
		}
.b-2{

}
	.b-2 .b-block{
		position: relative;
	}
		.b-2 .b-man{
			background-position: 0px;
			background-repeat: no-repeat;
			background-image: url('../i/2/man.svg');
			width: 732px;
			height: 1028px;
			position: absolute;
			left: -236px;
			top: -150px;
		}
		.b-surgay{
			margin-left: 469px;
			margin-top: 88px;
			text-align: left;
		}
			.b-2 h2.b-title{
				max-width: 623px;
				letter-spacing: 1px;
				margin-bottom: 19px;
			}
			.b-surgay p,
			.b-surgay .p{
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 10px;
				max-width: 500px;
				position: relative;
				font-family: "Gilroy-Regular";
			}
			.b-surgay .p{
				max-width: 408px;
			}
			.b-surgay .b-purple-link{
				margin-left: 40px;
				margin-top: 10px;
				margin-bottom: 36px;
			}
			.b-140{
				position: absolute;
				color: #ff8a00;
				font-family: "Gilroy-Bold";
				right: -196px;
				top: 18px;
			}
				.b-140 .b-line{
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/2/line-1.svg');
					width: 80px;
					height: 18px;
					display: block;
					position: absolute;
					opacity: 0.4;
					left: -58px;
					top: 65px;
				}
				.b-140 b{
					font-size: 90px;
					line-height: 45px;
				}
				.b-140>div{
					text-transform: uppercase;
					font-size: 40px;
					line-height: 54px;
					margin-left: 13px;
				}
					.b-140 .icon-ruble{
						font-size: 29px;
						position: relative;
						top: -1px;
						margin-left: 2px;
					}
			.b-work-video{
				position: relative;
			}
				.b-work-video .b-line{
					position: absolute;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/2/line-2.svg');
					width: 70px;
					height: 20px;
					display: block;
					left: 102px;
					top: 67px;
				}
				.b-work-video img{
					display: inline-block;
					vertical-align: middle;
					margin-left: 11px;
				}
				.b-work-text{
					width: 410px;
					display: inline-block;
					vertical-align: top;
					margin-left: 35px;
					margin-top: 21px;
				}
					.b-work-text h3{
						font-size: 25px;
						line-height: 34px;
						margin-bottom: 8px;
					}
					.b-work-text p{
						font-size: 15px;
						line-height: 22px;
					}
						.b-work-text p b{
							font-family: "Tahoma-Bold";
							letter-spacing: 0.4px;
						}
		.b-video-block{
			width: 860px;
			height: 500px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/2/video.jpg');
			margin: 0px auto;
			position: relative;
			z-index: 10;
			margin-top: 30px;
			box-shadow: 0px 30px 60px 0px rgba(30, 27, 30, 0.3);
		}
			.b-play{
				background-color: rgba(255,138,0,0.15);
				border-radius: 1000px;
				width: 207px;
				height: 207px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -103px;
				margin-left: -103px;
				-webkit-transition: background-color 100ms ease-out;
				   -moz-transition: background-color 100ms ease-out;
				    -ms-transition: background-color 100ms ease-out;
				   	 -o-transition: background-color 100ms ease-out;
						transition: background-color 100ms ease-out;
			}
				.b-play:hover{
					background-color: rgba(94,74,187,0.15);
				}
				.b-play:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 140px;
					height: 140px;
					left: 50%;
					top: 50%;
					margin-left: -70px;
					margin-top: -70px;
					border-radius: 1000px;
					background-color: #FFF;
					box-shadow: 0px 30px 70px 0px rgba(255, 138, 0, 0.9);
					-webkit-transition: box-shadow 100ms ease-out;
					   -moz-transition: box-shadow 100ms ease-out;
					    -ms-transition: box-shadow 100ms ease-out;
					   	 -o-transition: box-shadow 100ms ease-out;
							transition: box-shadow 100ms ease-out;
				}
					.b-play:hover:before{
						box-shadow: 0px 30px 100px 0px rgba(94,74,187, 0.9);
					}
				.b-play:after{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 0px;
					height: 0px;
					left: 50%;
					top: 50%;
					margin-left: -12px;
					margin-top: -25px;
					border: 25px solid transparent;
					border-left: 35px solid #ff8a00;
					-webkit-transition: border-left 100ms ease-out;
					   -moz-transition: border-left 100ms ease-out;
					    -ms-transition: border-left 100ms ease-out;
					   	 -o-transition: border-left 100ms ease-out;
							transition: border-left 100ms ease-out;
				}
					.b-play:hover:after{
						border-left-color: #5e4abb;
					}
.b-3{

}
	.b-3 .b-block{

	}
		.b-3 h2.b-title{
			text-align: center;
			margin: 0px auto;
			margin-top: 125px;
			letter-spacing: 1px;
			margin-bottom: 44px;
		}
		.b-count{
			width: 100%;
			box-shadow: 0px 30px 70px 0px rgba(30, 27, 30, 0.1);
			font-size: 0px;
		}
			.b-count-item{
				vertical-align: top;
				height: 280px;
				width: calc(100%/3);
				display: inline-block;
				text-align: center;
				border-right: 1px solid rgba(0,0,0,0.1);
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}
				.b-count-item:nth-child(3n){
					border-right: 0px;
				}
				.b-count-item .b-head{
					margin-top: 26px;
					margin-bottom: 7px;
					height: 120px;
				}
					.b-count-item .b-head img{
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
					}
					.b-count-item .b-head  h3{
						vertical-align: middle;
						font-size: 25px;
						line-height: 30px;
						letter-spacing: 0.4px;
						display: inline-block;
						max-width: 150px;
						text-align: left;
					}
				.b-count-item p{
					font-family: "Gilroy-Regular";
					font-size: 20px;
					line-height: 30px;
					max-width: 300px;
					margin: 0px auto;
				}
		.b-count-butt{
			margin-top: 10px;
			text-align: center;
		}
			.b-count-butt a{
				position: relative;
				font-family: "Tahoma-Bold";
				font-size: 15px;
				line-height: 25px;
				letter-spacing: 0.3px;
				color: #FFF;
				width: 556px;
				height: 130px;
				display: inline-block;
				overflow: hidden;
				padding-top: 30px;
			}
				.b-count-butt a:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 720px;
					height: 720px;
					border-radius: 10000px;
					left: 50%;
					margin-left: -360px;
					bottom: 0px;
					background: #604cc4;
					-webkit-transition: background 150ms ease-out;
					   -moz-transition: background 150ms ease-out;
					    -ms-transition: background 150ms ease-out;
					   	 -o-transition: background 150ms ease-out;
							transition: background 150ms ease-out;
				}
				.b-count-butt a:hover:before{
					background: #ff8a00;
				}
				.b-count-butt a span{
					position: relative;
					z-index: 2;
					border-bottom: 1px dotted rgba(255,255,255,0.5);
				}
		.b-quotes-3{
			color: #ff8a00;
			text-align: center;
			font-size: 24px;
			margin-top: 73px;
			margin-bottom: 42px;
		}
		.b-3 h3.b-title{
			text-align: center;
			max-width: 562px;
			margin: 0px auto;
		}
		.b-3 .b-man-cont{
			text-align: center;
			margin-top: 45px;
			background-position: 50% 114px;
			height: 338px;
			background-repeat: no-repeat;
			background-image: url('../i/3/line.svg');
		}
			.b-3 .b-man-cont img.b-man{
				margin-right: 21px;
			}
.b-4{
	overflow: hidden;
	margin-bottom: 171px;
}
	.b-4 .b-block{

	}
		.b-4 h2.b-title{
			margin-bottom: 8px;
		}
		.b-4 h5.b-small{
			position: relative;
			z-index: 1;
		}
		.b-4 .b-scheme{
			position: relative;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/4/doc.jpg');
			width: 1218px;
			height: 702px;
			margin-top: -19px;
			margin-left: 152px;
		}
			.b-4 .b-scheme p{
				font-family: "Gilroy-Regular";
				font-size: 20px;
				line-height: 30px;
				width: 234px;
				position: absolute;
				left: -130px;
				top: 96px;
			}
				.b-4 .b-scheme p .b-line{
					display: block;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/4/line.svg');
					width: 129px;
					height: 100px;
					position: absolute;
					left: 115px;
					bottom: -114px;
				}
			.b-triangle-top{
				position: relative;
			}
				.b-triangle-top:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 0px;
					height: 0px;
					left: 50%;
					top: -46px;
					margin-left: -9px;
					border: 9px solid transparent;
					border-top: 9px solid #ff8a00;
				}
			.b-4 .b-scheme p.b-triangle-top{

			}
			.b-add-butt{
				display: block;
				background-color: rgba(255,138,0,0.15);
				border-radius: 1000px;
				width: 77px;
				position: relative;
				height: 77px;
				-webkit-transition: background-color 100ms ease-out;
				   -moz-transition: background-color 100ms ease-out;
				    -ms-transition: background-color 100ms ease-out;
				   	 -o-transition: background-color 100ms ease-out;
						transition: background-color 100ms ease-out;
			}
				.b-add-butt:hover{
					background-color: rgba(94,74,187,0.15);
				}
				.b-add-butt:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					left: 50%;
					top: 50%;
					margin-left: -26px;
					margin-top: -26px;
					width: 52px;
					height: 52px;
					border-radius: 1000px;
					background-color: #FFF;
					box-shadow: 0px 30px 100px 0px rgba(255, 138, 0, 0.9);
					-webkit-transition: box-shadow 100ms ease-out;
					   -moz-transition: box-shadow 100ms ease-out;
					    -ms-transition: box-shadow 100ms ease-out;
					   	 -o-transition: box-shadow 100ms ease-out;
							transition: box-shadow 100ms ease-out;
				}
					.b-add-butt:hover:before{
						box-shadow: 0px 30px 100px 0px rgba(94,74,187, 0.9);
					}
				.b-add-butt .icon-plus{
					color: #ff8a00;
					position: absolute;
					z-index: 1;
					color: #ff8a00;
					width: 26px;
					height: 26px;
					font-size: 26px;
					text-align: center;
					line-height: 26px;
					left: 50%;
					top: 50%;
					margin-left: -12px;
					margin-top: -12px;
					-webkit-transition: color 100ms ease-out;
					   -moz-transition: color 100ms ease-out;
					    -ms-transition: color 100ms ease-out;
					   	 -o-transition: color 100ms ease-out;
							transition: color 100ms ease-out;
				}
					.b-add-butt:hover .icon-plus{
						color: #5e4abb;
					}
					.b-add-butt .icon-plus:before{
						
					}
			.b-4 .b-add-butt{
				position: absolute;
				left: 777px;
				top: 322px;
			}
		.b-4 h5.b-second{
			margin-top: -10px;
		}
.b-5{
	
}
	.b-5 .b-block{

	}
		.b-5 h2.b-title{
			z-index: 20;
			position: relative;
			margin-bottom: 7px;
		}
		.b-5 h5.b-small{
			z-index: 20;
			position: relative;
			max-width: 800px;
		}	
		.b-book-cont{
			z-index: 10;
			height: 746px;
		}
			.b-book{
				position: absolute;
				left: 50%;
				bottom: 0px;
				margin-left: -698px;
				width: 1365px;
				height: 980px;
				background-position: 50% 0%;
				background-repeat: no-repeat;
				background-image: url('../i/5/back.jpg');
			}
		.b-5 .b-adv-list{
			position: relative;
		}
			.b-5 .b-adv{
				position: absolute;
				width: 210px;
			}
			.b-5 .b-adv-1{
				left: -20px;
				top: 304px;
				width: 192px;
			}
			.b-5 .b-adv-2{
				left: 94px;
				top: 43px;
			}
			.b-5 .b-adv-3{
				left: 805px;
				top: 51px;
			}
				.b-5 .b-adv img{

				}
				.b-5 .b-adv p{
					font-size: 15px;
					line-height: 22px;
				}
				.b-5 .b-adv-2 p{
					margin-top: 4px;
					margin-left: 12px;
				}
				.b-5 .b-adv-3 p{
					margin-top: 18px;
				}
					.b-5 .b-adv p b{
						font-family: "Tahoma-Bold";
					}
		.b-scroll-more{
			position: absolute;
			z-index: 2;
			width: 100px;
			left: 991px;
			top: 647px;
		}
			.b-scroll-more p{
				width: 100px;
				margin-bottom: 11px;
			}
			.b-scroll-more .icon-mouse{
				color: #ff8a00;
				font-size: 27px;
			}
.b-6{
	height: 1090px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-image: url('../i/6/back.jpg');
	background-color: #0b0813;
}
	.b-6 .b-block{

	}
		.b-6 h2.b-title{
			color: #FFF;
			padding-top: 86px;
			margin-bottom: 8px;
			letter-spacing: 0.4px;
		}
		.b-6 h5.b-small{
			color: #FFF;
			max-width: 800px;
		}
		.b-6 .b-add-butt{
			position: absolute;
			left: 342px;
			top: 440px;
		}
			.b-6 .b-add-butt .icon-audio{
				color: #ff8a00;
				font-size: 20px;
				line-height: 20px;
				top: 50%;
				position: absolute;
				left: 50%;
				margin-left: -11px;
				margin-top: -10px;
				-webkit-transition: color 100ms ease-out;
				   -moz-transition: color 100ms ease-out;
				    -ms-transition: color 100ms ease-out;
				   	 -o-transition: color 100ms ease-out;
						transition: color 100ms ease-out;
			}
				.b-6 .b-add-butt:hover .icon-audio{
					color: #5e4abb;
				}
			.b-6 .b-add-butt .b-line{
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-image: url('../i/6/line.svg');
				width: 156px;
				height: 85px;
				position: absolute;
				top: 86px;
				left: -79px;
			}
		.b-6 .b-video-cont{
			text-align: right;
			margin-top: 69px;
		}
		.b-6 .b-video-block{
			width: 645px;
			height: 375px;
			box-shadow: 0px 30px 60px 0px rgba(252, 137, 0, 0.1);
			background-size: cover;
			margin: 0px;
			display: inline-block;
			position: relative;
			margin-bottom: 61px;
		}
			.b-6 .b-finger{
				position: absolute;
				left: 132px;
				bottom: 0px;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-image: url('../i/6/fingers.png');
				width: 151px;
				height: 44px;
			}
			.b-6 .b-video-block .b-play{
				width: 154px;
				height: 154px;
				margin-left: -77px;
				margin-top: -77px;
			}
				.b-6 .b-video-block .b-play:before{
					width: 106px;
					height: 106px;
					margin-left: -53px;
					margin-top: -53px;
				}
				.b-6 .b-video-block .b-play:after{
					border-width: 17px;
					border-left-width: 27px;
					margin-top: -17px;
					margin-left: -10px;
				}
		.b-6 .b-btn{
			margin-left: 200px;
			margin-right: 32px;
		}
		.b-program-link{
			display: inline-block;
		}
		.b-6 .b-program-link{
			margin-top: 46px;
			margin-right: 138px;
			font-size: 15px;
			line-height: 25px;
			color: #FFF;
			letter-spacing: 1px;
			position: relative;
			border-bottom: 1px solid rgba(255,255,255,0.3);
		}
			.b-6 .b-program-link:hover{
				border-bottom-color: transparent;
			}
			.b-program-link .icon-link{
				position: absolute;
				right: -25px;
				top: -13px;
				opacity: 0.3;
			}
.b-7{padding-bottom: 89px;}
	.b-7 .b-block{
		position: relative;
		z-index: 2;
	}
		.b-7 h2.b-title{
			
		}
		.b-7 h2.b-title.b-first{
			text-align: left;
			max-width: 700px;
			margin: 0px;
			display: block;
			padding-top: 92px;
		}
			.b-7 h2.b-title b{
				font-size: 52px;
			}
		.b-7 .b-ipad-list{
			position: relative;
			height: 600px;
			z-index: 10;
		}
			.b-7 .b-ipad{
				position: absolute;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				/*width: 505px;*/
				width: 556px;
				/*height: 248px;*/
				height: 332px;
			}
			.b-7 .b-ipad-1{
				left: -74px;
				top: 320px;
				background-image: url('../i/7/ipad-1.png');
			}
			.b-7 .b-ipad-2{
				left: 292px;
				top: 191px;
				background-image: url('../i/7/ipad-2.png');
			}
			.b-7 .b-ipad-3{
				left: 658px;
				top: 61px;
				background-image: url('../i/7/ipad-3.png');
			}
				.b-7 .b-ipad .b-text{
					width: 300px;
					position: absolute;
					left: 113px;
					text-align: left;
					bottom: 376px;
				}
				.b-7 .b-ipad-3 .b-text{
					left: 122px;
					bottom: 355px;
				}
					.b-7 .b-ipad .b-text h3{
						font-size: 30px;
						line-height: 35px;
						letter-spacing: 0.4px;
						margin-bottom: 23px;
					}
					.b-7 .b-ipad .b-text p{
						font-family: "Gilroy-Regular";
						font-size: 20px;
						line-height: 25px;
						margin-left: 43px;
						margin-bottom: 4px;
					}
					.b-left-triangle{
						position: relative;
					}
						.b-left-triangle:before{
							position: absolute;
							content: "s";
							font-size: 0px;
							width: 0px;
							height: 0px;
							left: -15px;
							top: -8px;
							border: 9px solid transparent;
							border-top-color: #ff8a00;
							-webkit-transform: rotateZ(-45deg);
							-moz-transform: rotateZ(-45deg);
							-ms-transform: rotateZ(-45deg);
							-o-transform: rotateZ(-45deg);
							transform: rotateZ(-45deg);
						}
					.b-7 .b-ipad .b-text h4{
						font-size: 30px;
						line-height: 40px;
						margin-left: 43px;
						font-family: "Gilroy-Bold";
					}
					.b-7 .b-ipad .b-text .b-line{
						opacity: 1;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-image: url('../i/7/line-1.svg');
						width: 65px;
						height: 247px;
						position: absolute;
						left: 174px;
						top: 87px;
					}
					.b-7 .b-ipad-1 .b-text .b-line{
						left: 162px;
						top: 119px;
					}
					.b-7 .b-ipad-3 .b-text .b-line{
						left: 140px;
						top: 87px;
					}
		.b-7 .b-letter-a{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/7/a.svg');
			width: 893px;
			height: 937px;
			position: absolute;
			right: 50%;
			top: 568px;
			z-index: 1;
			margin-right: -988px;
		}
		.b-7 h2.b-title.b-second{
			padding-top: 76px;
		}
	.b-atlant-slider{
		z-index: 10;
		position: relative;
		padding-top: 49px;
	}
		.b-atlant-slider .b-slide{

		}
			.b-atlant-slider .b-block{

			}
				.b-atlant-slider .b-imac{
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/7/macbook.png');
					width: 812px;
					height: 493px;
					position: absolute;
					left: -61px;
					top: -1px;
				}
					.b-atlant-slider .b-screen{
						position: absolute;
						left: 87px;
						top: 38px;
						width: 638px;
						height: 400px;
						background-position: 0% 50%;
						background-repeat: no-repeat;
						background-image: url('../i/7/screen.jpg');
					}
				.b-atlant-slider p.b-title{
					font-size: 25px;
					line-height: 35px;
					text-align: left;
					bottom: -110px;
					position: absolute;
					left: 111px;
				}
					.b-atlant-slider p.b-title b{

					}
				.b-7 .b-adv-list{
					text-align: left;
					width: 420px;
				}
					.b-7 .b-adv{
						overflow: hidden;
						padding: 30px 25px 30px 40px;
						box-shadow: 0px 35px 70px 0px rgba(13, 13, 16, 0.1),0px 15px 75px 0px rgba(255, 138, 0, 0.05);
						background: #FFF;
						position: relative;
						-webkit-transition: margin-top 300ms ease-out;
						   -moz-transition: margin-top 300ms ease-out;
						    -ms-transition: margin-top 300ms ease-out;
						   	 -o-transition: margin-top 300ms ease-out;
								transition: margin-top 300ms ease-out;
					}
						.b-7 .b-adv:before{
							position: absolute;
							font-family: "Gilroy-Bold";
							font-size: 90px;
							line-height: 40px;
							right: 15px;
							bottom: 0px;
							color: #5e4abc;
							opacity: 0.2;
						}
					.b-7 .b-adv:nth-child(1){
						z-index: 20;
					}
						.b-7 .b-adv:nth-child(1):before{
							content: "1";
							right: 22px;
						}
					.b-7 .b-adv:nth-child(2){
						z-index: 19;
					}
						.b-7 .b-adv:nth-child(2):before{
							content: "2";
						}
					.b-7 .b-adv:nth-child(3){
						z-index: 18;
					}
						.b-7 .b-adv:nth-child(3):before{
							content: "3";
						}
					.b-7 .b-adv:nth-child(4){
						z-index: 17;
					}
						.b-7 .b-adv:nth-child(4):before{
							content: "4";
						}
					.b-7 .b-adv:nth-child(5){
						z-index: 16;
					}
						.b-7 .b-adv:nth-child(5):before{
							content: "5";
						}
					.b-7 .b-adv:nth-child(6){
						z-index: 15;
					}
						.b-7 .b-adv:nth-child(6):before{
							content: "6";
						}
						.b-7 .b-adv h3{
							font-size: 20px;
							line-height: 25px;
							letter-spacing: 0.4px;
							margin-bottom: 8px;
						}
						.b-7 .b-adv p{
							font-size: 15px;
							line-height: 22px;
							letter-spacing: 0.5px;
						}
							.b-7 .b-adv p b{

							}
			.b-adv-more-cont{
				text-align: center;
			}
				.b-7 .b-program-link{
					color: #8e84b5;
					position: relative;
					margin-top: 35px;
					font-size: 15px;
					line-height: 20px;
					font-family: "Tahoma-Bold";
					letter-spacing: 1px;
					border-bottom: 1px dotted;
					margin-bottom: 25px;
					margin-right: 17px;
					display: inline-block;
				}
					.b-7 .b-program-link:hover{
						border-bottom-color: transparent; 
					}
					.b-7 .b-program-link .b-line{

					}
					.b-7 .b-program-link .icon-link{
						opacity: 1;
						font-size: 17px;
						right: -20px;
					}
			.slick-dots{
				font-size: 0px;
				text-align: center;
				position: absolute;
				width: 500px;
				margin-left: -250px;
				left: 50%;
				bottom: 17px;
			}
				.slick-dots li{
					display: inline-block;
				}
					.slick-dots li button{
						background: transparent;
						border: 0px;
						width: 30px;
						height: 30px;
						font-size: 0px;
						position: relative;
						cursor: pointer;
					}
						.slick-dots li button:before{
							position: absolute;
							content: "s";
							font-size: 0px;
							left: 50%;
							top: 50%;
							border: 1px solid #8e84b5;
							width: 13px;
							height: 13px;
							margin-left: -6px;
							margin-top: -6px;
							border-radius: 100px;
						}
						.slick-dots li button:hover:before{
							background-color: #fe8a00;
							border-color: #fe8a00;
						}
						.slick-dots li.slick-active button:before{
							background-color: #5e4abb !important;
							border-color: #5e4abb !important;
						}
.b-8{
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-image: url('../i/8/man.jpg');
	background-color: #0b0813;
	color: #FFF;
}
	.b-8 .b-block{

	}
		.b-8 .b-not-secret{
			text-align: left;
			margin-left: 470px;
			padding-top: 87px;
			margin-bottom: 77px;
		}
			.b-8 .b-not-secret h2.b-title{
				margin-bottom: 57px;
			}
				.b-8 h2.b-title b{
					font-size: 52px;
				}
			.b-8 .b-not-secret h3.b-title{
				color: #FFF;
				font-size: 35px;
				line-height: 50px;
				letter-spacing: 0px;
			}
			.b-italic{
				font-family: "PlayfairDisplay-Italic" !important;
			}
			.b-with-quotes{
			    position: relative;
			    padding-left: 36px;
			}
				.b-with-quotes:before{
					color: #fb8800;
					position: absolute;
					font-size: 20px;
					left: 0px;
					top: -13px;
				}
			.b-rassel{
				margin-left: 114px;
				margin-top: 34px;
				letter-spacing: 0.6px;
				position: relative;
			}
				.b-rassel h3{
					color: #FFF;
					font-size: 25px;
					line-height: 30px;
					margin-bottom: 3px;
				}
				.b-rassel p{
					font-size: 12px;
					line-height: 18px;
					max-width: 250px;
					letter-spacing: 0.3px;
					padding-left: 16px;
					opacity: 0.2;
				}
				.b-rassel .b-line{
					background-position: 0px 0px;
					background-repeat: no-repeat;
					background-image: url('../i/8/line-1.svg');
					width: 133px;
					height: 72px;
					position: absolute;
					left: -140px;
					top: -26px;
				}
		.b-8 .b-block>h2.b-title{margin-bottom: 52px;}
		.b-tabs{

		}
		.b-land-tabs{
			text-align: justify;
			height: 43px;
		}
		.b-land-tabs-wrap{
			padding: 0px 46px;
		}
			.b-land-tabs:after{
			    content: '';
			    display: inline-block;
			    width: 100%;
			    vertical-align: top;
			}
			.b-tabs li{
				cursor: pointer;
				padding: 5px 20px;
				display: inline-block;
				font-size: 20px;
				line-height: 25px;
				font-family: "Gilroy-Bold";
				opacity: 0.1;
			}
				.b-tabs li:hover{
					opacity: 1;
				}
			.b-tabs li.active{
				opacity: 1;
				color: #ff8a00;
			}
		.b-tabs-line{
			width: 100%;
			height: 1px;
			position: relative;
			background: rgba(0,0,0,0.1);
		}
			.b-tabs-line span{
				position: absolute;
				left: 10px;
				top: -1px;
				width: 200px;
				height: 3px;
				background: #ff8a00;
				display: block;
				-webkit-transition: width 200ms ease-out, left 200ms ease-out;
				   -moz-transition: width 200ms ease-out, left 200ms ease-out;
				    -ms-transition: width 200ms ease-out, left 200ms ease-out;
				   	 -o-transition: width 200ms ease-out, left 200ms ease-out;
						transition: width 200ms ease-out, left 200ms ease-out;
			}
	.b-tabs-cont{
		padding-top: 49px;
	}
	.b-land-tabs-cont{

	}
	.b-land-tabs-cont .slick-dots{
		display: none !important;
	}
		.b-tabs-cont .b-tab{
			height: 771px;
		}
			.b-tab .b-block{
				height: 100%;
			}
				.b-land-tabs-cont .b-phones{
					width: 517px;
					height: 732px;
					position: absolute;
					margin-left: 45px;
					bottom: 0px;
					left: 0px;
				}
					.b-land-tabs-cont .b-phones div{
						opacity: 0;
						position: absolute;
						left: 0px;
						top: 0px;
						background-position: 50% 0%;
						background-repeat: no-repeat;
						width: 517px;
						height: 732px;
						z-index: 1;
						-webkit-transition: opacity 300ms 200ms ease-out;
						   -moz-transition: opacity 300ms 200ms ease-out;
						    -ms-transition: opacity 300ms 200ms ease-out;
						   	 -o-transition: opacity 300ms 200ms ease-out;
								transition: opacity 300ms 200ms ease-out;
					}
					.b-land-tabs-cont .b-phones div.active{
						z-index: 2;
						opacity: 1;
						-webkit-transition: opacity 300ms ease-out;
						   -moz-transition: opacity 300ms ease-out;
						    -ms-transition: opacity 300ms ease-out;
						   	 -o-transition: opacity 300ms ease-out;
								transition: opacity 300ms ease-out;
					}
					.b-land-tabs-cont .b-phone-1{
						background-image: url('../i/8/2/iphone-1.jpg');
					}
					.b-land-tabs-cont .b-phone-2{
						background-image: url('../i/8/2/iphone-2.jpg');
					}
					.b-land-tabs-cont .b-phone-3{
						background-image: url('../i/8/2/iphone-3.jpg');
					}
				.b-sms-right{
					width: 481px;
					text-align: left;
					padding-top: 60px;
					position: relative;
					z-index: 10;
				}
					.b-sms-right h3{
						font-size: 30px;
						line-height: 40px;
						font-family: "Gilroy-Regular";
						color: #FFF;
						margin-bottom: 41px;
					}
					.b-sms-butts{

					}
					.b-sms-butts a.b-sms-butt{
						letter-spacing: 1px;
						position: relative;
						font-size: 15px;
						line-height: 15px;
						text-transform: uppercase;
						font-family: "Gilroy-Bold";
						text-align: center;
						width: 330px;
						display: block;
						color: #FFF;
						border-radius: 100px;
						padding: 22px 0px;
						margin-bottom: 29px;
						border: 1px solid #fff;
						-webkit-transition: background 100ms ease-out, border-color 100ms ease-out;
						-moz-transition: background 100ms ease-out, border-color 100ms ease-out;
						-ms-transition: background 100ms ease-out, border-color 100ms ease-out;
						-o-transition: background 100ms ease-out, border-color 100ms ease-out;
						transition: background 100ms ease-out, border-color 100ms ease-out;
					}
					.b-sms-butts a.b-sms-butt:hover{
						border-color: #ff8a00;
						background: #ff8a00;
					}
					.b-sms-butts a.b-sms-butt.active{
						border-color: #5e4abb;
						background: #5e4abb;
					}
						.b-sms-butts a.b-sms-butt .b-line{
							position: absolute;
							right: 203px;
							top: -35px;
							background-position: 100% 50%;
							background-repeat: no-repeat;
							background-image: url('../i/8/2/line.svg');
							width: 90px;
							opacity: 0;
							height: 100px;
							-webkit-transition: opacity 300ms ease-out, width 300ms ease-out;
							   -moz-transition: opacity 300ms ease-out, width 300ms ease-out;
							    -ms-transition: opacity 300ms ease-out, width 300ms ease-out;
							   	 -o-transition: opacity 300ms ease-out, width 300ms ease-out;
									transition: opacity 300ms ease-out, width 300ms ease-out;
						}
							.b-sms-butts a.b-sms-butt.active .b-line{
								opacity: 1;
								width: 371px;
							}
				.b-email-block{
					margin-top: 1px;
				}
					.b-email-block h3{
						font-size: 30px;
						line-height: 40px;
						font-family: "Gilroy-Regular";
						color: #FFF;
						margin-bottom: 0px;
						max-width: 600px;
						display: inline-block;
						letter-spacing: 0.5px;
						margin-bottom: 41px;
					}
					.b-email-block a.b-sms-butts{

					}
						.b-email-block a.b-sms-butt{
							display: inline-block;
							margin: 0px 13px;
							letter-spacing: 1.5px;
						}
					.b-8 .b-block>.b-ipads{
						position: absolute;
						width: 966px;
						height: 550px;
						margin-left: 177px;
						bottom: 0px;
						left: 0px;
					}
						.b-8 .b-block>.b-ipads>div{
							position: absolute;
							left: 0px;
							top: 0px;
							opacity: 0;
							width: 966px;
							height: 550px;
							-webkit-transition: opacity 300ms 200ms ease-out;
							   -moz-transition: opacity 300ms 200ms ease-out;
							    -ms-transition: opacity 300ms 200ms ease-out;
							   	 -o-transition: opacity 300ms 200ms ease-out;
									transition: opacity 300ms 200ms ease-out;
						}
						.b-8 .b-block>.b-ipads>div.active{
							background-position: 50% 50%;
							background-repeat: no-repeat;
							width: 966px;
							height: 550px;
							opacity: 1;
							-webkit-transition: opacity 300ms ease-out;
							   -moz-transition: opacity 300ms ease-out;
							    -ms-transition: opacity 300ms ease-out;
							   	 -o-transition: opacity 300ms ease-out;
									transition: opacity 300ms ease-out;
						}
						.b-8 .b-block>.b-ipads .b-ipad-1{
							background-image: url('../i/8/1/ipad.jpg');
						}
						.b-8 .b-block>.b-ipads .b-ipad-2{
							background-image: url('../i/8/1/ipad.jpg');
						}
							.b-8 .b-ipad-text{
								font-size: 20px;
								line-height: 30px;
								position: absolute;
								left: -130px;
								top: 42px;
								width: 290px;
							}
							.b-8 .b-triangle-top{

							}
								.b-8 .b-ipads .b-line{
									position: absolute;
									left: 50%;
									bottom: -109px;
									display: block;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-image: url('../i/8/1/line.svg');
									width: 150px;
									height: 100px;
								}
					.b-autocall{
						margin-top: 2px;
					}
						.b-autocall h3{
							font-size: 30px;
							line-height: 40px;
							font-family: "Gilroy-Regular";
							color: #FFF;
							margin-bottom: 0px;
							max-width: 650px;
							display: inline-block;
							letter-spacing: 0.5px;
							margin-bottom: 8px;
						}
						.b-autocall h4{
							font-size: 20px;
							line-height: 30px;
							font-family: "Gilroy-Regular";
							color: #FFF;
							display: inline-block;
							max-width: 500px;
						}
						.b-autocall .b-videos{
							padding-top: 24px;
						}
							.b-autocall .b-video{
								vertical-align: top;
								display: inline-block;
								width: 483px;
								margin: 0px 19px;
							}
								.b-autocall .b-video-block{
									width: 483px;
									height: 281px;
									background-size: cover;
									margin-bottom: 13px;
									box-shadow: 0px 30px 70px 0px rgba(252, 137, 0, 0.1);
								}
									.b-autocall .b-video-block .b-play{
										width: 116px;
										height: 116px;
										margin-left: -58px;
										margin-top: -58px;
									}
									.b-autocall .b-video-block .b-play:before{
										width: 80px;
										height: 80px;
										margin-left: -40px;
										margin-top: -40px;
									}
									.b-autocall .b-video-block .b-play:after{
										border-width: 13px;
										border-left-width: 22px;
										margin-left: -7px;
										margin-top: -13px;
									}
								.b-autocall .b-left-triangle{
									font-size: 15px;
									text-align: left;
									line-height: 25px;
									margin-left: 93px;
									margin-top: 51px;
									letter-spacing: 0.3px;
									padding-right: 20px;
								}
									.b-autocall .b-left-triangle:before{
										left: -19px;
										top: -14px;
									}
					.b-autofun{

					}
						.b-autofun h3{

						}
						.b-autofun .b-ipads{padding-top: 34px;}
							.b-autofun .b-ipad-cont{
								vertical-align: top;
								display: inline-block;
								width: 491px;
								margin: 0px 14px;
							}
								.b-autofun .b-ipad-cont div{
									background-position: 50% 50%;
									background-repeat: no-repeat;
									width: 491px;
									height: 353px;
								}
								.b-autofun .b-ipad-1{
									background-image: url('../i/8/4/ipad-1.jpg');
								}
								.b-autofun .b-ipad-2{
									background-image: url('../i/8/4/ipad-2.jpg');
								}
								.b-autofun .b-left-triangle{
									margin-top: 39px;
									margin-left: 97px;
									padding-right: 80px;
								}
.b-9{

}
	.b-9 .b-block{

	}
		.b-9 h2.b-title{
			padding-top: 89px;
		}
		.b-9 h2.b-title b{
			font-size: 52px;
		}
		.b-9 p.b-triangle-top{
			font-size: 20px;
			line-height: 30px;
			font-family: "Gilroy-Regular";
			margin-top: 79px;
			max-width: 400px;
			display: inline-block;
			margin-bottom: 37px;
		}
			.b-9 p.b-triangle-top:before{
				
			}
		.b-lesson-tabs-wrap{
			padding: 0px 45px;
		}
			.b-lesson-tabs{
				font-size: 0px;
			}
				.b-lesson-tabs li{
					padding: 13px 0px;
					text-align: center;
					width: calc(100%/21);
				}
				.b-lesson-tabs li:hover{
					color: #ff8a00;
				}
				.b-lesson-tabs li.active{
					color: #5f4bbf;
				}
			.b-tabs-line{

			}
				.b-tabs-line span{
					background: #5f4bbf;
				}
	.b-lesson-tabs-cont{

	}
		.b-lesson-tabs-cont .slick-dots{
			display: none !important;
		}
		.b-lesson-tabs-cont .b-tab{

		}
		.b-lesson-tabs-cont .b-tab .b-block{
			text-align: left;
		}
			.b-lesson-tabs-cont .b-left-text-cont{
				display: table;
				margin-left: 100px;
			}
			.b-lesson-tabs-cont .b-left-text{
				display: table-cell;
				vertical-align: middle;
				height: 426px;
				padding-bottom: 10px;
			}
				.b-lesson-tabs-cont .b-left-text h3{
					font-size: 30px;
					line-height: 35px;
					margin-bottom: 12px;
					letter-spacing: 0.4px;
				}
				.b-lesson-tabs-cont .b-left-text h5{
					font-size: 15px;
					line-height: 22px;
					font-family: "Tahoma-Regular";
				}
				.b-lesson-tabs-cont .b-left-text h4{
					font-size: 20px;
					line-height: 30px;
					font-family: "Gilroy-Regular";
					margin-top: 34px;
					margin-bottom: 13px;
				}
				.b-lesson-tabs-cont .b-left-text .b-doc{
					/* white-space: nowrap; */
					display: inline-block;
					margin-right: 29px;
				}
					.b-lesson-tabs-cont .b-left-text .b-doc img{
						display: inline-block;
						vertical-align: middle;
					}
					.b-lesson-tabs-cont .b-left-text .b-doc p{
						display: inline-block;
						vertical-align: middle;
						font-size: 12px;
						line-height: 20px;
						letter-spacing: 0.4px;
						margin-left: 5px;
					}
			.b-lesson-tabs-cont .b-block>img{
				position: absolute;
				left: 50%;
				top: 21px;
				margin-left: -18px;
			}
			.b-lesson-tabs-cont .b-right-text{

			}
				.b-lesson-tabs-cont .b-right-text h4{

				}
				.b-lesson-tabs-cont .b-right-text h3{

				}
















.b-price{overflow: hidden;}
	.b-price-list{
		margin-bottom: 50px;
		text-align: left;
	}
		.b-price-item{
			position: relative;
			float: left;
			width: 22.5%;
			margin-left: 42px;
		}
		.b-price-item:last-child{
		    width: 19%;
			margin-left: 25px;	
		}
			.b-price-item .orange-triangle{
				position: absolute;
			}
				.b-price-item p{

				}

	.b-price-offer{
		margin-bottom: 74px;
		text-align: left;
	}
		.b-price-offer-block{
			position: relative;
			float: left;
			width: 25%;
		}
			.b-price-offer-triangle{
				height: 20px;
				width: 100%;
				background-color: transparent;
			}
			.b-price-offer-triangle span{
				float: left;
				display: inline-block;
				height: 100%;
			}
				.left-block{
					width: 54px;
					background-color: #FFF;
				}
				.triangle-block{
					position: relative;
					width: 40px;
				}
					.triangle-block:before{
						content: " ";
						position: absolute;
						bottom: 0;
						left: 0;
						border: 10px solid transparent;
						border-bottom: 10px solid #FFF;
						border-left: 10px solid #FFF;
					}
					.triangle-block:after{
						content: " ";
						position: absolute;
						bottom: 0;
						right: 0;
						border: 10px solid transparent;
						border-right: 10px solid #FFF;
						border-bottom: 10px solid #FFF;
					}
				.right-block{
					width: calc(100% - 94px);
					background-color: #FFF;
				}
			.b-price-offer-content{
				width: 100%;
				background-color: #FFF;
				-webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
				box-shadow: 0 0 55px rgba(0, 0, 0, 0.2);
				padding: 0 0 45px 0;
			}
			.b-price-offer-block:nth-child(1){
				z-index: 4;
			}
			.b-price-offer-block:nth-child(2){
				z-index: 3;
			}
			.b-price-offer-block:nth-child(3){
				z-index: 2;
			}

				.b-price-offer-list{
					padding: 8px 30px 0 75px;
					margin-bottom: 50px;
				}
					.offer-description{
						font-size: 12px;
						line-height: 18px;
						color: #b2b2b3;
						margin-bottom: 25px;
					}
					.b-price-offer-item{
						position: relative;
						margin-bottom: 24px;
					}
					.b-price-offer-item:first-of-type{
/* 						margin-bottom: 5px; */
					}
						.offer-img-cont{
							width: 50px;
						    position: absolute;
						    top: 2px;
						    left: -63px;
						}
							.offer-img-cont .img{
								float: right;
								background-position: top right;
							    background-repeat: no-repeat;
							    background-size: contain;
							}

							.img-book .img{
								background-image: url('../i/book.png');
								width: 63px;
								height: 57px;
							}
							.img-cards .img{
								background-image: url('../i/cards.png');
								width: 57px;
    							height: 46px;
							}
							.img-certificate .img{
								background-image: url('../i/certificate.png');
								width: 36px;
    							height: 45px;
							}
							.img-video .img{
								background-image: url('../i/video.png');
								width: 41px;
								height: 41px;
							}
							.img-iPhone .img{
								background-image: url('../i/iPhone.png');
								width: 39px;
								height: 56px;
							}
							.img-macbook .img{
								background-image: url('../i/macbook-price.png');
								width: 59px;
								height: 52px;
							}
							.img-syrgai .img{
								background-image: url('../i/syrgai-price.png');
								width: 36px;
								height: 55px;
							}
							.img-training .img{
								background-image: url('../i/training.png');
								width: 53px;
								height: 43px;
							}
							.img-skype .img{
								background-image: url('../i/skype.png');
								width: 34px;
								height: 34px;
							}
							.img-graphic .img{
								background-image: url('../i/graphic.png');
								width: 50px;
								height: 49px;
							}
							.img-lock .img{
								background-image: url('../i/lock.png');
								width: 34px;
								height: 47px;
							}
							.offer-img-cont.img-book{
								left: -48px;
							}
							.offer-img-cont.img-training{
								top: 11px;
							}
							.offer-img-cont.img-graphic{
								top: 8px;
								left: -58px;
							}
							.offer-img-cont.img-macbook{
								left: -59px;
							}

						.b-price-offer-item p{
							font-size: 12px;
							line-height: 18px;
						}
				.b-price .all-modules{
					display: inline-block;
					font-size: 12px;
					line-height: 18px;
					text-decoration: underline;
				}
				.b-price .all-modules:hover{
					text-decoration: none;
				}

			.cource-price{
				font-size: 25px;
				line-height: 35px;
				font-family: 'Gilroy-Bold';
			}		
				.old-price{
					position: relative;
					display: inline-block;
					margin-bottom: 8px;
				}
					.old-price .cross-out{
					    width: 99px;
					    height: 12px;
					    position: absolute;
					    top: 15px;
					    left: -4px;
					    background-position: top right;
					    background-repeat: no-repeat;
					    background-image: url('../i/cross-out.png');
					    background-size: contain;
					}
					.old-price p{
						font-size: 25px;
						line-height: 35px;
						font-family: 'Gilroy-Medium';
					}
					.b-price-offer-block:nth-child(2) .old-price .cross-out,
					.b-price-offer-block:nth-child(3) .old-price .cross-out,
					.b-price-offer-block:nth-child(4) .old-price .cross-out{
						left: 0px;
						width: 100%;
					}
				.new-price{
					font-size: 40px;
					line-height: 40px;
					font-family: 'Gilroy-Bold';
					margin-bottom: 30px;
				}

			.b-price-offer-content .b-btn{
				width: 240px;
				padding: 13px 0;
			}
				.b-price-offer-content .b-btn .main{
					font-size: 18px;
					line-height: 18px;
				}
				.b-price-offer-content .b-btn .small{
					font-size: 14px;
					line-height: 16px;
				}
				.offer-description.next-increase{
					margin-bottom: 18px;
				}

	.places-left{
		text-align: center;
		margin-top: 35px;
		font-size: 12px;
		line-height: 18px;
		color: #b2b2b3;
	}
		.places-left-count{
			display: inline-block;
			color: #FFF;
			width: 20px;
			height: 20px;
			border-radius: 10px;
			background-color: #5e4abb;
		}

	.b-price-offer-right{
		position: absolute;
		right: 0;
		bottom: 54px;
		width: 144px;
    	height: 628px;
		background-color: #5e4abb;
	}
		.b-price-offer-horizontal{
			position: absolute;
			top: 0;
			left: -144px;
			width: 448px;
			height: 140px;
			background-color: #5e4abb;
		}

.b-footer{
	color: #b2b2b3;
}
	.b-footer-top{	
	    padding-bottom: 40px;
	    font-size: 12px;
	    line-height: 18px;
	    border-bottom: 1px solid #f7f7f7;
	}
		.b-footer-top-item{
			vertical-align: top;
			display: inline-block;
		}
		.b-footer-top-item:first-child{
			margin-right: 336px;
		}
		.b-footer-top-item:last-child{
			float: right;
		}
			.b-footer-logo {
				display: inline-block;
			    width: 104px;
			    height: 40px;
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/logo-footer.png);
			    background-size: 104px;
			    margin-right: 22px;
			}
			.b-footer-top-item > div, .b-footer-top-item > p {
			    vertical-align: top;
			    display: inline-block;
			}
			.b-footer-phone{
				position: relative;
				padding-top: 10px;
    			padding-left: 27px;
			}
				.b-footer-phone .phone{
					position: absolute;
				    left: 0;
				    top: 13px;
					display: inline-block;
					vertical-align: top;
				    width: 16px;
				    height: 16px;
				    background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-image: url(../i/icon-phone.png);
				    background-size: 16px;
				}
				.b-footer-phone a{
					display: inline-block;
				    vertical-align: top;
				    font-family: 'Gilroy-Medium';
				    color: #0d0d10;
				    font-size: 20px;
				    line-height: 22px;
				    letter-spacing: 0.5px;
				}

	.b-footer-bottom{
		padding: 35px 0;
		font-size: 14px;
		line-height: 18px;
	}

	.b-footer .politics{
		display: inline-block;
		font-size: 14px;
		padding-top: 10px;
		color: #b2b2b3;
		text-decoration: underline;
		display: none;
	}
	.b-footer .politics:hover{
		text-decoration: none;
	}


/*----------------------*/


@media (-webkit-min-device-pixel-ratio: 1.5) {
	.img-book .img{
		background-image: url('../i/book@2x.png');
	}
	.img-cards .img{
		background-image: url('../i/cards@2x.png');
	}
	.img-certificate .img{
		background-image: url('../i/certificate@2x.png');
	}
	.img-video .img{
		background-image: url('../i/video@2x.png');
	}
	.img-iPhone .img{
		background-image: url('../i/iPhone@2x.png');
	}
	.img-macbook .img{
		background-image: url('../i/macbook-price@2x.png');
	}
	.img-syrgai .img{
		background-image: url('../i/syrgai-price@2x.png');
	}
	.img-training .img{
		background-image: url('../i/training@2x.png');
	}
	.img-skype .img{
		background-image: url('../i/skype@2x.png');
	}
	.img-graphic .img{
		background-image: url('../i/graphic@2x.png');
	}
	.img-lock .img{
		background-image: url('../i/lock@2x.png');
	}
	.old-price .cross-out{
	    background-image: url('../i/cross-out@2x.png');
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}